project:
  type: website

website:
  title: "FDRI Gridded Data"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - ql.qmd
      - ss3.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
